NEXT_PUBLIC_BACKEND_URL=http://localhost:5000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=reachinbox_super_secret_nextauth_jwt_key_2026

# Google OAuth Credentials (Optional: Quick Demo Login is built-in if empty)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
